<md-sidenav md-is-locked-open="true" md-component-id="left"
	class="md-whiteframe-z2"> <md-list> <md-subheader
	class="md-no-sticky"> <md-input-container>
<label>Busqueda</label> <input type="text" ng-model="busqueda">
</md-input-container> </md-subheader> <md-list-item class="md-3-line md-whiteframe-z1"
	ng-repeat="dispositivo in dispositivos | filter:busqueda" flex-sm="90"
	ng-click="seleccionarDispositivo(dispositivo)"> <img
	ng-src="./assets/user.png" class="md-avatar"
	alt="{{dispositivo.idDispositivo}}" />
<div class="md-list-item-text">
	<h3>{{dispositivo.idDispositivo}}</h3>
	<h4>Stock: {{dispositivo.stock}}</h4>
	<p>Disponibles: {{dispositivo.disponibles}}</p>
</div>

</md-list-item> </md-list> </md-sidenav>


<md-content flex id="content" ng-show="dispositivoSeleccionado">
<h1 class="md-display-3" style="color: #3F51B5;">{{dispositivoSeleccionado.idDispositivo}}</h1>
<div layout="row">
	<div flex="50">
		<h2 class="md-display-1" style="color: #3F51B5"
			ng-show="dispositivoSeleccionado.idTipoDispositivo=='1'">Smartphone</h2>
		<h2 class="md-display-1" style="color: #3F51B5"
			ng-show="dispositivoSeleccionado.idTipoDispositivo=='2'">Mouse</h2>
		<h2 class="md-display-1" style="color: #3F51B5"
			ng-show="dispositivoSeleccionado.idTipoDispositivo=='3'">Dron</h2>
		<h3>
			Disponibles:<span class="md-title" style="color: #3F51B5">
				{{dispositivoSeleccionado.disponibles}} unidades</span>
		</h3>
		<h3>
			Unidades en inventario: <span class="md-title" style="color: #3F51B5">
				{{dispositivoSeleccionado.stock}} unidades</span>
		</h3>
	</div>
	<div flex>
		<form class="form" ng-submit="">

			<div layout="row">
				<div flex="50">
					<h4>Inicio de Reserva</h4>
					<md-datepicker md-min-date="hoy"
						ng-model="nuevoPrestamo.fechaInicialPrestamo"
						md-placeholder="Fecha inicial"></md-datepicker>
				</div>
				<!-- 				<div flex="50"> -->
				<!-- 					<h4>Fin de Reserva</h4> -->
				<!-- 					<md-datepicker md-min-date="nuevoPrestamo.fechaInicialPrestamo" -->
				<!-- 						ng-model="nuevoPrestamo.fechaFinalPrestamo" -->
				<!-- 						md-placeholder="Fecha final"></md-datepicker> -->
				<!-- 				</div> -->
				<div flex="50">
					<h4>Hora de Reserva</h4>
					<!-- 					 <label>Hora</label>  -->
					<md-select ng-model="nuevoPrestamo.hora"> <md-option>00:00</md-option>
					<md-option>01:00</md-option> <md-option>02:00</md-option> <md-option>03:00</md-option>
					<md-option>04:00</md-option> <md-option>05:00</md-option> <md-option>06:00</md-option>
					<md-option>07:00</md-option> <md-option>08:00</md-option> <md-option>09:00</md-option>
					<md-option>10:00</md-option> <md-option>11:00</md-option> <md-option>12:00</md-option>
					<md-option>13:00</md-option> <md-option>14:00</md-option> <md-option>15:00</md-option>
					<md-option>16:00</md-option> <md-option>17:00</md-option> <md-option>18:00</md-option>
					<md-option>19:00</md-option> <md-option>20:00</md-option> <md-option>21:00</md-option>
					<md-option>22:00</md-option> <md-option>23:00</md-option></md-select>
				</div>


			</div>
			<br> <br> <br>
			<div layout="row" layout-align="center center"></div>

			<md-button class="md-raised md-primary" layout-align="center center"
				ng-click="solicitarPrestamo(nuevoPrestamo)">Reservar
			prestamo</md-button>

		</form>
	</div>
</div>
</md-content>

<md-content flex id="content" ng-show="!dispositivoSeleccionado"
	layout="column" layout-align="center center">
<h1 class="md-display-3" style="color: #3F51B5;">Modulo de
	prestamos</h1>
<h1 class="md-display-1">Por favor seleccione el dispositivo que
	desea reservar</h1>
</md-content>
