<md-content flex id="content" layout="row">
	<div flex="40" class="autoscroll">
		<md-list>
			<md-subheader class="md-no-sticky">

				<md-input-container layout="column" layout-align="center center">
					<label>Busqueda</label>
					<input type="text" ng-model="busqueda"/>
				</md-input-container>
			</md-subheader>

			<md-list-item class="md-3-line md-whiteframe-z2" ng-repeat="usuario in usuarios | filter:busqueda" flex-sm="90">
				<img ng-src="./assets/user.png" class="md-avatar"
				alt="{{usuario.username}}" />
				<div class="md-list-item-text" layout="column" layout-align="left left">
					<h2>{{usuario.username}}</h2>
					<h3>{{usuario.nombre}} {{usuario.apellido}}	({{usuario.tipoRol}})</h3>
						<h4>{{usuario.tipoDocumento}} {{usuario.nroDocumento}}</h4>
						<p>Email: {{usuario.correo}}</p>
						<p>Celular: {{usuario.celular}}</p>
						<p>Telefono: {{usuario.telefono}}</p>
					</div>
				</md-list-item>
			</md-list>
		</div>

		<div  flex-offset="5" flex>
			<br> <br>
			<div flex layout="column" layout-align="center center"	>
				<h1>Crear usuario Nuevo Usuario</h1>
			</div>

			<div  layout="column" layout-padding ng-cloak class="md-whiteframe-z2">

			<form name="nuevoUsuario" id="form" ng-submit="crearUsuario(nuevoUsuario)">
				<!-- <md-content class="autoScroll"> -->

				<div layout-gt-sm="row">

	          <md-input-container class="md-block" flex-gt-sm>
	            <label>Nombres</label>
	            <input type="text" ng-model="nuevoUsuario.nombre" required>
	          </md-input-container>

	          <md-input-container class="md-block" flex-gt-sm>
	            <label>Apellidos</label>
	            <input type="text" ng-model="nuevoUsuario.apellido" required>
	          </md-input-container>

	        </div>


					<div layout-gt-sm="row">

						<md-input-container class="md-block" flex-gt-sm>
							<label>Tipo de documento</label>
							<md-select ng-model="nuevoUsuario.tipoDocumento" required>
								<md-option value="cedula ciudadania" > Cédula de Ciudadanía</md-option>
								<md-option value="tarjeta indentidad" > Tarjeta de Identidad </md-option>
								<md-option value="cedula extranjeria" > Cédula de extranjería </md-option>
								<md-option value="registro civil" > Registro Civil </md-option>
							</md-select>
						</md-input-container>

		          <md-input-container class="md-block" flex-gt-sm>
		            <label>Documento</label>
		            <input type="text" ng-model="nuevoUsuario.nroDocumento" required>
		          </md-input-container>

		        </div>


						<div layout-gt-sm="row">

							<md-input-container class="md-block" flex-gt-sm>
											<label>Email</label>
											<input required type="email" name="clientEmail" ng-model="nuevoUsuario.correo"
														 minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
											<div ng-messages="projectForm.clientEmail.$error" role="alert">
												<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
													Tu email debe contener entre 10 y 100 caracteres y tener formato de correo.
												</div>
											</div>
										</md-input-container>

								<md-input-container class="md-block" flex-gt-sm>
									<label>Celular</label>
									<input ng-model="nuevoUsuario.celular" required>
								</md-input-container>

							</div>

							<div layout-gt-sm="row">

									<md-input-container class="md-block" flex-gt-sm>
										<label>Teléfono</label>
										<input ng-model="nuevoUsuario.telefono" required>
									</md-input-container>

								</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm>
								<label>Rol a desempeñar</label>
									<md-select ng-model="nuevoUsuario.idRol" required>
										<md-option value="1" > Administrador </md-option>
										<md-option value="2" > Estudiante </md-option>
									</md-select>
								</md-input-container>

				          <md-input-container class="md-block" flex-gt-sm>
				            <label>Nombre de usuario</label>
				            <input type="text" ng-model="nuevoUsuario.username" required>
				          </md-input-container>

				        </div>


								<div layout-gt-sm="row">

									<md-input-container class="md-block" flex-gt-sm>
										<label>Contraseña</label>
										<input type="password" ng-model="nuevoUsuario.password" required>
									</md-input-container>

										<md-input-container class="md-block" flex-gt-sm>
											<label>Repita contraseña</label>
											<input type="password" ng-model="nuevoUsuario.passwordConfirmacion" required>
										</md-input-container>

									</div>


									<div layout-gt-sm="row" layout-align="center center">

										<md-button class="md-raised md-primary"
									type="submit">Registrar usuario</md-button>
								<!-- </md-content> -->
										</div>


					<!-- <md-input-container	layout="column" layout-align="center center">
						<label>Nombres</label>
						<input type="text" ng-model="nuevoUsuario.nombre">
					 </md-input-container>

					 <md-input-container layout="column" layout-align="center center">
						<label>Apellidos</label>
						<input type="text" ng-model="nuevoUsuario.apellido">
					</md-input-container> -->

					<!-- <md-input-container
						layout="row" layout-align="center center">
						<label>Tipo	de documento</label>
							<input type="text" ng-model="nuevoUsuario.tipoDocumento">
						</md-input-container>

						<md-input-container
							layout="row" layout-align="center center">
							<label>Numero	de documento</label>
						 <input type="text"	ng-model="nuevoUsuario.nroDocumento">
					 </md-input-container> -->

					 <!-- <md-input-containerlayout="row" layout-align="center center">
					 	<label>Email</label>
						<input type="email" ng-model="nuevoUsuario.correo">
					</md-input-container>

						<md-input-container layout="row" layout-align="center center">
								<label>Celular</label>
								<input type="text" ng-model="nuevoUsuario.celular">
						</md-input-container> -->

							<!-- <md-input-container>
								<label>Rol</label>
								<md-select ng-model="nuevoUsuario.idRol">
									<md-option value="1" > Administrador </md-option>
									<md-option value="2" > Estudiante </md-option>
								</md-select>
							</md-input-container> -->

<!--
							<md-input-container	layout="row" layout-align="center center">
								<label>Telefono</label>
							<input type="text" ng-model="nuevoUsuario.telefono">
						</md-input-container> -->

						<!-- <md-input-container layout="row" layout-align="center center">
							 <label>Nombre de usuario </label>
							 <input type="text" ng-model="nuevoUsuario.username">
						</md-input-container> -->

						<!-- <md-input-container layout="row" layout-align="center center">
								<label>Contraseña</label>
								<input type="password" ng-model="nuevoUsuario.password">
						</md-input-container>

						<md-input-container layout="row" layout-align="center center">
							 <label>Repita la contraseña </label>
							 <input type="password" 	ng-model="nuevoUsuario.passwordConfirmacion">
						</md-input-container> -->


									<!-- <md-button class="md-raised md-primary"
								type="submit">Registrar usuario</md-button> -->
							<!-- </md-content> -->
							</form>


						</div>
					</div>
	</md-content>


	<!-- <div layout="row" layout-align="left left"> -->

		<!-- <div flex="100">
		<md-list> <md-subheader class="md-no-sticky">

		<md-input-container layout="column" layout-align="center center">
		<label>Busqueda</label> <input type="text" ng-model="busqueda">
	</md-input-container> </md-subheader> <md-list-item class="md-3-line md-whiteframe-z1"
	ng-repeat="usuario in usuarios | filter:busqueda" flex-sm="90">
	<img ng-src="./assets/user.png" class="md-avatar"
	alt="{{usuario.username}}" />
	<div class="md-list-item-text" layout="column"
	layout-align="left left">
	<h2>{{usuario.username}}</h2>
	<h3>{{usuario.nombre}} {{usuario.apellido}}
	({{usuario.tipoRol}})</h3>
	<h4>{{usuario.tipoDocumento}} {{usuario.nroDocumento}}</h4>
	<p>Email: {{usuario.correo}}</p>
	<p>Celular: {{usuario.celular}}</p>
	<p>Telefono: {{usuario.telefono}}</p>
</div>

</md-list-item> </md-list>
</div> -->

<!--

<div  flex="100">
	<br> <br>
	<div layout="column" layout-align="center center"
	class="md-whiteframe-z2">

	<h1>Nuevo Usuario</h1>
	<form name="nuevoUsuario" id="form" ng-submit="crearUsuario(nuevoUsuario)">
		<md-content class="autoScroll">

			<md-input-container	layout="row" layout-align="center center"> <label>Nombres</label>
				<input type="text" ng-model="nuevoUsuario.nombre"> </md-input-container> <md-input-container
				layout="row" layout-align="center center"> <label>Apellidos</label>
				<input type="text" ng-model="nuevoUsuario.apellido"> </md-input-container> <md-input-container
				layout="row" layout-align="center center"> <label>Tipo
					de documento</label> <input type="text"
					ng-model="nuevoUsuario.tipoDocumento"> </md-input-container> <md-input-container
					layout="row" layout-align="center center"> <label>Numero
						de documento</label> <input type="text"
						ng-model="nuevoUsuario.nroDocumento"> </md-input-container> <md-input-container
						layout="row" layout-align="center center"> <label>Email</label>
						<input type="email" ng-model="nuevoUsuario.correo"> </md-input-container>

						<md-input-container
						layout="row" layout-align="center center">				<label>Celular</label>
						<input type="text"
						ng-model="nuevoUsuario.celular">

					</md-input-container>

					<md-input-container>
						<label>Rol</label>
						<md-select ng-model="nuevoUsuario.idRol">
							<md-option value="1" > Administrador </md-option>
							<md-option value="2" > Estudiante </md-option>
						</md-select>
					</md-input-container>

					<md-input-container
					layout="row" layout-align="center center"> <label>Telefono</label>
					<input type="text" ng-model="nuevoUsuario.telefono"> </md-input-container> <md-input-container
					layout="row" layout-align="center center"> <label>Nombre
						de usuario</label> <input type="text" ng-model="nuevoUsuario.username">
					</md-input-container> <md-input-container layout="row" layout-align="center center">
						<label>Contraseña</label> <input type="password"
						ng-model="nuevoUsuario.password"> </md-input-container> <md-input-container
						layout="row" layout-align="center center"> <label>Repita
							la contraseña</label> <input type="password"
							ng-model="nuevoUsuario.passwordConfirmacion"> </md-input-container>



						<md-button class="md-raised md-primary"
						type="submit">Registrar usuario</md-button> </md-content>
					</form>


				</div>
			</div>
		</div> -->
